In [223]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [224]:
df = pd.DataFrame([], columns=['vacancy_id', 'company', 'description', 'schedule', 'city', 'salary'])

In [225]:
# df = df.append(dict(vacancy_id=1, company=2, description=3, schedule=4, city=5, salary=6), ignore_index=True)
# df.append(dict(vacancy_id=1, company=2, description=3, schedule=4, city=5, salary=6), ignore_index=True)

In [226]:
df

Empty DataFrame
Columns: [vacancy_id, company, description, schedule, city, salary]
Index: []

In [227]:
job = 'клиент-менеджер'
location ='киев'

In [232]:
page_cnt = 101
vac_cnt = 2000
while True:
    print(f"Page #{page_cnt}")
    page = requests.get(f'https://rabota.ua/zapros/{job}/pg{page_cnt}')
    if page.status_code != 200 or page_cnt > 300:
        print(f"Finished on page {page_cnt} | # of vacancies: {vac_cnt}")
        break
    soup = BeautifulSoup(page.content)
    vacancies = re.findall('onclick="javascript: window.location = \'(.+)\'"', str(soup))
    for vacancy in vacancies:
        vacancy_data = requests.get(f"https://rabota.ua{vacancy}")
        if vacancy_data.status_code != 200:
            print(f"Finished on page {page_cnt} | # of vacancies: {vac_cnt}")
            break
        vacancy_soup = str(BeautifulSoup(vacancy_data.content))
        
        id = int(re.search('.+?([0-9]+).*', vacancy).groups()[0])
        salary = 0
        company = np.nan
        city = np.nan
        description = np.nan
        shedule = np.nan

        salary_match = re.search('"vacancy_Salary":([0-9]+),', vacancy_soup)
        if salary_match:
            salary = int(salary_match.groups()[0])
        city_match = re.search(r'"vacancy_CityName":"(.+?)"', vacancy_soup)
        if city_match:
            city = city_match.groups()[0]
        desc_match = re.search(r'"vacancy_Description":"(.+)","vacancy_NotebookId"', vacancy_soup)
        if desc_match:
            description = desc_match.groups()[0]
        company_match = re.search(r'"vacancyCompanyName":"(.+?)"', vacancy_soup)
        if company_match:
            company = company_match.groups()[0]
        shedule_match = re.search(r'"vacancy_ScheduleName":"(.+?)",', str(vacancy_soup))
        if shedule_match:
            shedule = shedule_match.groups()[0]
        df = df.append(dict(vacancy_id=id, company=company, description=description,
                            schedule=shedule, city=city, salary=salary), ignore_index=True)
        vac_cnt += 1
        if vac_cnt > 0 and vac_cnt % 100 == 0:
            print(f"[{vac_cnt}] vacancies, example vacancy:")
            print(df.tail(n=1))
    page_cnt += 1

Page #101
Page #102
Page #103
Page #104
Page #105
[2100] vacancies, example vacancy:
     vacancy_id           company  \
2099    5023044  Качура Е.А., ФЛП

                                            description          schedule  \
2099  <p><b>Хочешь заработать много денег, получить ...  полная занятость

      city salary
2099  Киев  12000
Page #106
Page #107
Page #108
Page #109
Page #110
[2200] vacancies, example vacancy:
     vacancy_id            company  \
2199    1034962  Центрум-ЛТД, ООО

                                            description          schedule  \
2199  <p><b>Компания \"Центрум\" уже более 14 лет за...  полная занятость

         city salary
2199  Харьков  30000
Page #111
Page #112
Page #113
Page #114
Page #115
[2300] vacancies, example vacancy:
     vacancy_id    company                                        description  \
2299     850430  Мамин Дом  <p><b>В связи с развитием, компания Мамин Дом ...

              schedule     city salary
2299  полная занятость  Харьков  13000
Page #116
Page #117
Page #118
Page #119
Page #120
[2400] vacancies, example vacancy:
     vacancy_id             company  \
2399    3827607  Объект Сервис, ООО

                                            description          schedule  \
2399  <p><b>Требования:</b> Опыт работы менеджером п...  полная занятость

        city salary
2399  Одесса  18000
Page #121
Page #122
Page #123
Page #124
Page #125
[2500] vacancies, example vacancy:
     vacancy_id                           company  \
2499        771  British American Tobacco Україна

                                            description          schedule  \
2499  <p><b>Обов'язки:</b></p><ul><li>Встановлення т...  повна зайнятість

          city salary
2499  Чернівці      0
Page #126
Page #127
Page #128
Page #129
Page #130
[2600] vacancies, example vacancy:
     vacancy_id        company  \
2599    2692988  Viknaroff, ТМ

                                            description          schedule  \
2599  <p><b>Вимоги:</b></p><ul><li>вік 25 - 45 років...  полная занятость

      city salary
2599  Киев      0
Page #131
Page #132
Page #133
Page #134
Page #135
[2700] vacancies, example vacancy:
     vacancy_id              company  \
2699    5142765  Спринтер Центр, ТОВ

                                            description          schedule  \
2699  <p><b>Торговый представитель с авто</b></p><p>...  полная занятость

          city salary
2699  Чернигов      0
Page #136
Page #137
Page #138
Page #139
Page #140
[2800] vacancies, example vacancy:
     vacancy_id                company  \
2799       1037  Райффайзен Банк Аваль

                                            description          schedule  \
2799  <p>АТ «Райффайзен Банк Аваль» оголошує відбір ...  полная занятость

           city salary
2799  Борисполь      0
Page #141
Page #142
Page #143
Page #144
Page #145
[2900] vacancies, example vacancy:
     vacancy_id     company  \
2899    2593184  Алсер, ООО

                                            description          schedule  \
2899  <p>Привет! Давай знакомиться! Мы компания «ALS...  полная занятость

      city salary
2899  Киев   9000
Page #146
Page #147
Page #148
Page #149
Page #150
[3000] vacancies, example vacancy:
     vacancy_id                company  \
2999       1037  Райффайзен Банк Аваль

                                            description          schedule  \
2999  <p>АТ «Райффайзен Банк Аваль» оголошує відбір ...  полная занятость

            city salary
2999  Закарпатье      0
Page #151
Page #152
Page #153
Page #154
Page #155
[3100] vacancies, example vacancy:
     vacancy_id          company  \
3099     690828  ALFA Smart Agro

                                            description          schedule  \
3099  <p>\"ALFA Smart Agro\" - инновационная постпат...  полная занятость

      city salary
3099  Киев      0
Page #156
Page #157
Page #158
Page #159
Page #160
[3200] vacancies, example vacancy:
     vacancy_id         company  \
3199    2399085  Астрафарм, ООО

                                            description          schedule  \
3199  <p><b>Национальный фармацевтический производит...  полная занятость

        city salary
3199  Одесса      0
Page #161
Page #162
Page #163
Page #164
Page #165
[3300] vacancies, example vacancy:
     vacancy_id         company  \
3299    3168982  System Capital

                                            description  \
3299  <p>Мы являемся международной рекламной компани...

                          schedule       city salary
3299  ","vacancy_ExperienceName":"  Запорожье  10000
Page #166
Page #167
Page #168
Page #169
Page #170
[3400] vacancies, example vacancy:
     vacancy_id                   company  \
3399     941895  А-Банк / Акцент-Банк, АО

                                            description          schedule  \
3399  <p><b>Регион: Запорожье</b></p><p>&nbsp;</p><p...  полная занятость

           city salary
3399  Запорожье   8000
Page #171
Page #172
Page #173
Page #174
Page #175
[3500] vacancies, example vacancy:
     vacancy_id                        company  \
3499     569821  UKRSIBBANK BNP Paribas Group

                                            description          schedule  \
3499  <p><b>UKRSIBBANK BNP Paribas Group</b> - лідер...  повна зайнятість

        city salary
3499  Херсон      0
Page #176
Page #177
Page #178
Page #179
Page #180
[3600] vacancies, example vacancy:
     vacancy_id     company  \
3599     853429  Банк Львів

                                            description          schedule  \
3599  <p>Банк Львів пропонує роботу в європейському ...  полная занятость

       city salary
3599  Львов      0
Page #181
Page #182
Page #183
Page #184
Page #185
[3700] vacancies, example vacancy:
     vacancy_id                                            company  \
3699       1020  Первый Украинский Международный Банк, ПАО  / ПУМБ

                                            description  \
3699  <p><b>Перший Український Міжнародний Банк запр...

                          schedule        city salary
3699  ","vacancy_ExperienceName":"  Мелитополь      0
Page #186
Page #187
Page #188
Page #189
Page #190
[3800] vacancies, example vacancy:
     vacancy_id   company                                        description  \
3799     234100  Ощадбанк  <p>Якщо Ви готові до виклику зробити найбільши...

              schedule        city salary
3799  полная занятость  Сторожинец      0
Page #191
Page #192
Page #193
Page #194
Page #195
[3900] vacancies, example vacancy:
     vacancy_id       company  \
3899     985123  Стеллар, МВ

                                            description          schedule  \
3899  <p>Транспортно-експедиційна компанія, лідер на...  полная занятость

           city salary
3899  Тернополь      0
Page #196
Page #197
Page #198
Page #199
Page #200
[4000] vacancies, example vacancy:
     vacancy_id                 company  \
3999     869794  MKT-COMMUNICATION Ltd.

                                            description          schedule  \
3999  <p>Для нас прежде всего важно Ваше желание раз...  полная занятость

      city salary
3999  Киев      0
Page #201
Page #202
Page #203
Page #204
Page #205
[4100] vacancies, example vacancy:
     vacancy_id                company  \
4099     397618  Наш продукт плюс, ООО

                                            description          schedule  \
4099  <p>Дистрибьюторская компания «НАШ ПРОДУКТ ПЛЮС...  полная занятость

            city salary
4099  Краматорск      0
Page #206
Page #207
Page #208
Page #209
Page #210
[4200] vacancies, example vacancy:
     vacancy_id                                company  \
4199    5159461  Institute Hyalual / Институт Гиалуаль

                                            description          schedule  \
4199  <p><b>Корпорація пропонує:</b></p><ul><li>офіц...  полная занятость

      city salary
4199  Киев      0
Page #211
Page #212
Page #213
Page #214
Page #215
[4300] vacancies, example vacancy:
     vacancy_id          company  \
4299    4242410  ТБТ Энерго, ООО

                                            description          schedule  \
4299  <p>Привет! Ты ищешь работу в надежной, динамич...  полная занятость

      city salary
4299  Киев  30000
Page #216
Page #217
Page #218
Page #219
Page #220
[4400] vacancies, example vacancy:
     vacancy_id          company  \
4399    1571386  Автофастера ЛТД

                                            description          schedule  \
4399  <p><b>Фирма «Автофастера ЛТД»</b> - один из кр...  полная занятость

        city salary
4399  Одесса      0
Page #221
Page #222
Page #223
Page #224
Page #225
[4500] vacancies, example vacancy:
     vacancy_id     company  \
4499     203681  ПриватБанк

                                            description          schedule  \
4499  <p>Розпочніть свій зірковий кар'єрний шлях у П...  полная занятость

      city salary
4499  Киев  11600
Page #226
Page #227
Page #228
Page #229
Page #230
[4600] vacancies, example vacancy:
     vacancy_id           company  \
4599       1042  OTP BANK Ukraine

                                            description          schedule  \
4599  <p><b>Основні вимоги:</b></p><ul><li>Вища фіна...  полная занятость

       city salary
4599  Стрый      0
Page #231
Page #232
Page #233
Page #234
Page #235
[4700] vacancies, example vacancy:
     vacancy_id        company  \
4699    2797479  Go to Germany

                                            description          schedule  \
4699  <p>Володієте німецькою мовою не нижче рівня B2...  полная занятость

       city salary
4699  Львов  15000
Page #236
Page #237
Page #238
Page #239
Page #240
[4800] vacancies, example vacancy:
     vacancy_id                                            company  \
4799    2479299  Володимир -Волинська птахофабрика / Епікур - с...

                                            description          schedule  \
4799  <p>ПрАТ Володимир-Волинська птахофабрика «ЕПІК...  полная занятость

         city salary
4799  Винница      0
Page #241
Page #242
Page #243
Page #244
Page #245
[4900] vacancies, example vacancy:
     vacancy_id          company  \
4899     690828  ALFA Smart Agro

                                            description          schedule  \
4899  <p><b>ALFA Smart Agro</b> - провідний виробник...  полная занятость

              city salary
4899  Южноукраинск      0
Page #246
Page #247
Page #248
Page #249
Page #250
[5000] vacancies, example vacancy:
     vacancy_id         company  \
4999    2921545  Аквафрост, ООО

                                            description          schedule  \
4999  <p>Компания «Аквафрост» (ТМ «Водный Мир»), нац...  полная занятость

         city salary
4999  Винница      0
Page #251
Page #252
Page #253
Page #254
Page #255
[5100] vacancies, example vacancy:
     vacancy_id   company                                        description  \
5099     234100  Ощадбанк  <p><b>Якщо Ви готові до виклику зробити найбіл...

              schedule  city salary
5099  полная занятость  Киев      0
Page #256
Page #257
Page #258
Page #259
Page #260
[5200] vacancies, example vacancy:
     vacancy_id            company  \
5199    3361339  Агрохімцентр, ПАТ

                                            description          schedule  \
5199  <p>Основные обязанности:</p><p>планирование и ...  полная занятость

      city salary
5199  Киев  10000
Page #261
Page #262
Page #263
Page #264
Page #265
[5300] vacancies, example vacancy:
     vacancy_id           company  \
5299      35361  DOPOMOGA Ukraine

                                            description          schedule  \
5299  <p>Our client is a world-leader international ...  полная занятость

      city salary
5299  Киев      0
Page #266
Page #267
Page #268
Page #269
Page #270
[5400] vacancies, example vacancy:
     vacancy_id   company                                        description  \
5399     234100  Ощадбанк  <p><b>Якщо Ви готові до виклику зробити найбіл...

              schedule     city salary
5399  полная занятость  Харьков      0
Page #271
Page #272
Page #273
Page #274
Page #275
[5500] vacancies, example vacancy:
     vacancy_id               company  \
5499     859340  IDS Borjomi Ukraine

                                            description          schedule  \
5499  <p><b>IDS BORJOMI Ukraine</b> - велика торгово...  полная занятость

       city salary
5499  Сарны      0
Page #276
Page #277
Page #278
Page #279
Page #280
[5600] vacancies, example vacancy:
     vacancy_id                         company  \
5599    6111040  Happy Time / Селякова А.В., ЧП

                                            description          schedule  \
5599  <p>Производственно-торговая компания товаров н...  полная занятость

       city salary
5599  Днепр  15000
Page #281
Page #282
Page #283
Page #284
Page #285
[5700] vacancies, example vacancy:
     vacancy_id           company  \
5699    1132047  ПАРТНЕР, Ломбард

                                            description          schedule  \
5699  <p><b>«ЛОМБАРД «ПАРТНЕР» - НАЦІОНАЛЬНА МЕРЕЖА ...  полная занятость

                 city salary
5699  Ивано-Франковск   7500
Page #286
Page #287
Page #288
Page #289
Page #290
[5800] vacancies, example vacancy:
     vacancy_id                        company  \
5799    3107364  Львівська пивна компанія, ТОВ

                                            description          schedule  \
5799  <p>Сокальська філія ТзОВ «Львівська Пивна Комп...  полная занятость

             city salary
5799  Червоноград      0
Page #291
Page #292
Page #293
Page #294
Page #295
[5900] vacancies, example vacancy:
     vacancy_id                 company  \
5899    2240443  ИНКО-ФУД БЕРДИЧЕВ, ООО

                                            description          schedule  \
5899  <p><b>Требования:</b></p><ul><li>высшее или не...  полная занятость

      city salary
5899  Киев  15000
Page #296
Page #297
Page #298
Page #299
Page #300
[6000] vacancies, example vacancy:
     vacancy_id        company  \
5999    3592162  Varyence, LLC

                                            description          schedule  \
5999  <p><b>New York-based technology company with o...  полная занятость

       city salary
5999  Львов      0
Page #301
Finished on page 301 | # of vacancies: 6000

In [236]:
df.to_csv("scrapped_data.csv", index=False)